{{!-- Create the template for handlebars to render data into --}}
{{!-- This will include a form and button to submit user input into the database --}}

<h1>Eat Da Burger!</h1>

<ul>
    {{#each burgers}}
    <li>
        <p>Burger Name: {{this.burger_name}}</p>
        <button type='submit' dataID='1' action='/'>Devour it</button>
    </li>
    {{/each}}
</ul>

{{!-- remove form action and method and use jquery in burger.js for on-click --}}
{{!-- <form action='/' method='POST'> --}}
<form id='create-form'>
    <textarea type='text' id='burger-name' name='burger'></textarea>
    <button type='submit'>Submit</button>
</form>